
ul {
  list-style-type: none;
}

.itemBox{
  list-style-type: none;
  width: 392px;
  height: 264px;
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
 
  }

.itm{
  width: 360px;
  height: 40px;
   border-radius: 4px;
  border: 1px solid #808080; 
  
  
}